.overlap-wrapper {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 0 15px;
    top:-426px;
    box-sizing: border-box;
  }
  
  .group-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  .overlap-group-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:20px;
    width: 100%;
  }
  
  .component {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
  
  .xnix-line,
  .xnix-line-search,
  .xnix-line-hamburger {
    margin-top: -36px; /* 16픽셀 위로 이동 */
}

  .xnix-line {
    width: 25px;
    height: auto;
  }
  
  .logo-s {
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
  
  .xnix-line-search {
    width: 25px;
    height: auto;
  }
  
  .xnix-line-hamburger {
  
    width: 25px;
    height: auto;
  }
  