@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    margin: 0;
    font-family: 'BM JUA_TTF', sans-serif;
    overflow-x: hidden;
  }

  .ctg_detail_container {
    position: relative;
    width: 600px;
    padding-top : 70px;
    margin: 10px auto; /* 상단바 위치 비우기 위해 margin 추가 */
    box-sizing: border-box;
  }

  .ctg_detail_title {
    position : relative;
    bottom : 62px;
    text-align: center;
    font-family: 'BM JUA_TTF', sans-serif;
    font-weight: regular;
    font-size: 40px;
    letter-spacing: -0.05em;
    color: #434343;
  }

  .ctg_detail_1st_line {
    position :relative;
    width: 100%;
    height: 1px;
    background-color: #FF8000;
    bottom : 23px;
  }
  .ctg_detail_item {
    position: relative;
    display: flex;
    flex-direction: column; /* 아이템들을 세로로 배치 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 150px;
    width: 600px;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center; /* 텍스트도 가운데 정렬 */
}

  .ctg_detail_item :hover .ctg_detail_img{
    opacity : 1;
  }
  
  .ctg_detail_name {
    position: relative;
    z-index: 1;
    color: black;
    bottom : 300px;
    padding: 5px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .ctg_detail_item:hover .ctg_detail_name{
    color : white;
    text-shadow : /* 문자열 자체에 테두리를 추가하는 것처럼 효과를 주는 text-shadow */
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .ctg_detail_img{
    position :relative; /* 부모 요소에 상대적인 위치 지정 */
    align-items: center;
    height : 600px;
    width : 600px;
    z-index: -1;
    opacity: 0.5; /* 기본 opacity 설정 */
    transition: opacity 0.3s ease; /* opacity 변화에 애니메이션 추가 */
  }

